<!DOCTYPE html>
<html>
<head>
    <title>Notes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Welcome, {{ username }}</h1>
        <img src="C:\Szop\EKKE_notes_app\app\static\image\logo.jpg" alt="Logo" class="img-fluid">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-primary mt-3">Logout</button>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>