<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button Layout</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-primary mx-2">Viewing</button>
        <button class="btn btn-secondary mx-2">Edit</button>
        <button class="btn btn-success mx-2">Delete</button>
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>